<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054446270386-a3g99svcb6rtl189jihoqek772pujab7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054446270386-a3g99svcb6rtl189jihoqek772pujab7</string>
	<key>API_KEY</key>
	<string>AIzaSyC-0W4hiw06NzzAB6Va1iCGQZ-WaVBACzA</string>
	<key>GCM_SENDER_ID</key>
	<string>1054446270386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.okay.FirebaseNSAnkara</string>
	<key>PROJECT_ID</key>
	<string>ns-ankara</string>
	<key>STORAGE_BUCKET</key>
	<string>ns-ankara.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054446270386:ios:e0bf7daedf439000</string>
	<key>DATABASE_URL</key>
	<string>https://ns-ankara.firebaseio.com</string>
</dict>
</plist>